:root {
  --bg: #0a0c10;
  --panel: #101318;
  --panel-2: #161c23;
  --border: #1c232c;
  --accent: #00ffa0;
  --text: #e6e6e6;
  --muted: #8b97a4;
  --overlay: rgba(0,0,0,0.85);
}

.navbar {
  height: 70px;
  max-width: 1130px;
  z-index: 1000;
  border-radius: 60px;
  margin: 0 auto;
  top: 20px;
  z-index: 1000;
}


.nav-inner {
  max-width: 1560px;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    z-index: 1000;

}

.logo {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 3px;
  color: var(--accent);
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 28px;
  list-style: none;
    text-transform: uppercase;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1.2px;
  font-weight: 600;
  color: #00ffa26b;
  transition: color 0.25s ease;
}



.nav-links a:hover {
  color: var(--accent);
}





.menu-btn {
  top: 20px;
  right: 20px;
  z-index: 1001;
  background: none;
  color: var(--accent);
  font-weight: 700;
  letter-spacing: 0.12em;
 display: none;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 1000;
}

.side-menu {
  position: fixed;
  inset: 0 auto 0 0;
  width: 360px;
  background: var(--accent);
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(.77,0,.18,1);
  z-index: 1002;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.side-menu.active {
  transform: translateX(0);
}

.menu-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: var(--bg);
}

.menu-list {
  margin-top: 80px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
    text-transform: uppercase;

}

.menu-list a {
  font-size: 36px;
  font-weight: 800;
  color: #000;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.menu-list a:hover {
  transform: translateX(12px);
  opacity: 0.85;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

